/* CSS for Home */

.homeScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  .profileWrapper {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background: conic-gradient( var(--theme-color), white ,  var(--theme-color)); /* smooth transition */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .profileBorder {
    height: 315px;
    width: 315px;
    border-radius: 50%;
    background: black; /* gap color */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileImage{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: transparent;
  }
  .exitWrapper{
    margin-top: 24px;
    margin-bottom: 16px;
    quote{
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      /* color: white; */
      background-clip: 'text' ;
      background: linear-gradient(90deg,var(--theme-color), #ffffff, var(--theme-color));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .introWrapper{
    max-width: 55vw;
    margin-top: 32px;


    p{
      text-align: center;
      color: white;
      font-size: 24px;
      background-clip: 'text' ;
      background: linear-gradient(90deg,var(--theme-color), #ffffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }
  .cursor {
    display: inline-block;
    width: 10px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }
}

/* CSS for About */

/* CSS for Portfolio */

/* CSS for *Achievement/


/* CSS for Contact */

/* CSS for Main Screen */
.mainScreen {
  background-color: #111111;
  width: 100%;
  min-height: 100vh;
  .headingContainer {
    display: flex;
    justify-content: center;
  }
  .heading {
    position: absolute;
    transform: translateY(140%);
    margin: 0px;
    font-size: 56px;
    font-weight: 900;
    color: #ffffff;
    span {
      color:  var(--theme-color);;
    }
  }
  .subHeading {
    margin: 0;
    margin-top: 50px;

    position: relative;
    font-size: 110px;
    letter-spacing: 10px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
  }
  .screenContent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




/* Tablet CSS */
@media (min-width: 750px) and (max-width: 992px) {
  /* CSS for Main Screen */
  .mainScreen {
    .heading {
      font-size: 45px;
    }
    .subHeading {
      font-size: 90px;
      letter-spacing: 5px;
      margin-top: 40px;
    }
  }
}

/* Mobile CSS */
@media screen and (max-width: 750px) {
  /* CSS for Main Screen */
  .mainScreen {
    .heading {
      font-size: 40 px;
      position: relative;
      transform: translateY(40%);
    }
    .subHeading {
      display: none;
    }
  }
}
