/* CSS for Home */
@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;

  .profileWrapper {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    background: conic-gradient( var(--theme-color), white ,  var(--theme-color)); /* smooth transition */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotateBorder 5s linear infinite;
  }
  .profileBorder {
    height: 315px;
    width: 315px;
    border-radius: 50%;
    background: black; /* gap color */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profileImage{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: transparent;
  }
}

/* CSS for About */

/* CSS for Portfolio */

/* CSS for *Achievement/


/* CSS for Contact */

/* CSS for Main Screen */
.mainScreen {
  background-color: #111111;
  width: 100vw;
  height: 100vh;
  .headingContainer {
    display: flex;
    justify-content: center;
  }
  .heading {
    position: absolute;
    transform: translateY(140%);
    margin: 0px;
    font-size: 56px;
    font-weight: 900;
    color: #ffffff;
    span {
      color:  var(--theme-color);;
    }
  }
  .subHeading {
    margin: 0;
    margin-top: 50px;

    position: relative;
    font-size: 110px;
    letter-spacing: 10px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.07);
  }
  .screenContent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




/* Tablet CSS */
@media (min-width: 750px) and (max-width: 992px) {
  /* CSS for Main Screen */
  .mainScreen {
    .heading {
      font-size: 45px;
    }
    .subHeading {
      font-size: 90px;
      letter-spacing: 5px;
      margin-top: 40px;
    }
  }
}

/* Mobile CSS */
@media screen and (max-width: 750px) {
  /* CSS for Main Screen */
  .mainScreen {
    .heading {
      font-size: 40 px;
      position: relative;
      transform: translateY(40%);
    }
    .subHeading {
      display: none;
    }
  }
}
