/* Basic layout */
.navbar-container {
  position: relative;
  background-color: #111111;
  /* padding: 10px; */
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  /* margin-bottom: 10px; */
}
.cta-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.download-resume{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color:  var(--theme-color);
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: 2px solid var(--theme-color);
  background-color: transparent;
  p{
    margin: 0;
  }
}

.hamburger div:first-child {
  display: none;
}

/* Navigation bar */
.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.nav-item {
  width: 50px;
  height: 50px;
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  cursor: pointer;

  svg{
    color:  var(--theme-color);
  }
}
.nav-item.active,
.nav-item:hover {
  background-color:  var(--theme-color); 
  svg{
    color: #ffffff;
  }
}

.nav-label {
  position: absolute;
  width: 70px;
  left: -150px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  pointer-events: none;
}

.nav-label.slide-in {
  opacity: 1;
  transform: translateX(215px);

}

/* Responsive rules */
@media (max-width: 768px) {
  .hamburger div:first-child {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    gap: 15px;
  }
  .nav-label {
    display: "none";
  }

  .nav-label.slide-in {
    display: none;
  }

  .navbar.show {
    display: flex;
  }
}
